@import url(https://fonts.googleapis.com/css?family=Red+Rose:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:500,600&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: MonumentExtended-Regular;
  src: url(../fonts/MonumentExtended-Regular.woff2) format("woff2"),url(../fonts/MonumentExtended-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-s-youtube:before {
  content: "\e900"
}
._icon-s-tik-tok:before {
  content: "\e901"
}
._icon-s-linkedin:before {
  content: "\e902"
}
._icon-s-insta:before {
  content: "\e903"
}
._icon-s-fc:before {
  content: "\e904"
}
._icon-s-tw:before {
  content: "\e905"
}
._icon-cursor:before {
  content: "\e906"
}
._icon-android:before {
  content: "\e907"
}
._icon-apple:before {
  content: "\e908"
}
._icon-ar-right:before {
  content: "\e909"
}
._icon-ar-left:before {
  content: "\e90a"
}
._icon-ar-down:before {
  content: "\e90b"
}
._icon-road-line:before {
  content: "\e90c"
}
._icon-play:before {
  content: "\e90d"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: "Red Rose";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Red Rose";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: 1px solid #eee;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.menu__list {
  display: flex;
  row-gap: .625rem
}
.menu__link {
  letter-spacing: .0225rem;
  transition: all .3s ease-in-out
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  font-weight: 700;
  padding: .9375rem 1.25rem;
  border-radius: 3.125rem;
  background-color: #52ffe0;
  color: #2c2d31;
  letter-spacing: .02rem
}
.categories__item {
  background-color: #2c2d31;
  padding-top: .625rem;
  padding-left: .625rem;
  padding-right: .625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3.125rem
}
.categories__image {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-width: 14.0625rem;
  border-radius: 3.125rem
}
.categories__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .06rem;
  transition: all .3s ease-in-out
}
.collections__item {
  border-radius: 1.875rem;
  background-color: #2c2d31;
  padding-top: .625rem;
  padding-left: .625rem;
  padding-bottom: .625rem;
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.collections__image {
  max-width: 6.25rem;
  position: relative;
  border-radius: 1.875rem
}
.collections__image img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 1.875rem
}
.collections__image span {
  position: absolute;
  top: 0;
  right: -.625rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  color: #2c2d31;
  background-color: #52ffe0;
  display: flex;
  align-items: center;
  justify-content: center
}
.collections__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: .25rem
}
.collections__title {
  font-size: 1.5rem
}
.collections__desctr {
  color: #818698
}
.collections__calc {
  display: flex;
  flex-direction: column;
  row-gap: .25rem
}
.collections__price {
  display: flex;
  flex-direction: column;
  row-gap: .25rem
}
.collections__name {
  color: #818698
}
.collections__bonus {
  font-size: .875rem;
  color: #52ffe0
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.header__logo {
  position: relative;
  z-index: 2
}
.header__button {
  position: relative;
  z-index: 2
}
.footer {
  background-color: #2c2d31
}
.footer__head {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.footer__logo {
  align-self: center
}
.head-footer:not(:last-child) {
  margin-bottom: 3rem
}
.head-footer__items {
  padding-top: 1.75rem
}
.head-footer__title {
  font-family: MonumentExtended-Regular
}
.head-footer__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.head-footer__item:not(:last-child) {
  margin-bottom: .9375rem
}
.head-footer__link {
  font-size: 1.125rem;
  line-height: 1.2
}
.head-footer__form {
  background-color: #52ffe0;
  color: #1d1e22;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.body-footer__privacy {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  row-gap: .625rem
}
.body-footer__privacy a {
  transition: all .3s ease-in-out
}
.body-footer__social {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  row-gap: .625rem
}
.body-footer__social a {
  background-repeat: 0
}
.body-footer__social a::before {
  transition: all .3s ease-in-out
}
.wrapper {
  background-color: #101010
}
@media (min-width:23.749375em) {
  .header__button {
    align-self: flex-end
  }
}
@media (min-width:47.99875em) {
  .menu__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
  }
}
@media (min-width:103.125em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .categories__item {
    padding-bottom: 3.1875rem
  }
  .categories__item {
    row-gap: 3.1875rem
  }
  .collections__item {
    padding-right: 2.5rem
  }
  .header__container {
    padding-top: 2.5rem
  }
  .header__container {
    padding-bottom: 2.5rem
  }
  .footer__container {
    padding-top: 3rem
  }
  .footer__container {
    padding-bottom: 3rem
  }
  .head-footer__form {
    padding-top: 5rem
  }
  .head-footer__form {
    padding-bottom: 5rem
  }
  .head-footer__form {
    padding-left: 3rem
  }
  .head-footer__form {
    padding-right: 3rem
  }
}
@media (max-width:20em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .categories__item {
    padding-bottom: 1.3125rem
  }
  .categories__item {
    row-gap: 1.9375rem
  }
  .collections__item {
    padding-right: .9375rem
  }
  .header__container {
    padding-top: 1.25rem
  }
  .header__container {
    padding-bottom: 1.25rem
  }
  .footer__container {
    padding-top: 1.25rem
  }
  .footer__container {
    padding-bottom: 1.25rem
  }
  .head-footer__form {
    padding-top: 2.375rem
  }
  .head-footer__form {
    padding-bottom: 2.375rem
  }
  .head-footer__form {
    padding-left: 1.375rem
  }
  .head-footer__form {
    padding-right: 1.375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.125rem .9375rem .9375rem .9375rem;
    transition: left .3s;
    background-color: #2c2d31;
    display: flex;
    flex-direction: column;
    row-gap: 4.375rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: #101010;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: .9375rem
  }
  .menu__link {
    font-size: 1.875rem;
    padding: .4375rem 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .menu__body::before {
    height: 6.375rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) and (min-width:103.125em) {
  .menu__body::before {
    height: 8.1875rem
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:103.125em) {
  @supports (height:clamp(6.375rem ,5.9389097744rem + 2.1804511278vw ,8.1875rem)) {
    .menu__body::before {
      height: clamp(6.375rem ,5.9389097744rem + 2.1804511278vw ,8.1875rem)
    }
  }
  @supports not (height:clamp(6.375rem ,5.9389097744rem + 2.1804511278vw ,8.1875rem)) {
    .menu__body::before {
      height: calc(6.375rem + 1.8125 * (100vw - 20rem)/ 83.125)
    }
  }
}
@media (min-width:20em) and (max-width:103.125em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem)) or (column-gap:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,.9492481203rem + 1.5037593985vw ,2.5rem);
      -moz-column-gap: clamp(1.25rem ,.9492481203rem + 1.5037593985vw ,2.5rem);
      column-gap: clamp(1.25rem ,.9492481203rem + 1.5037593985vw ,2.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem)) or (column-gap:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 83.125);
      -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 83.125);
      column-gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(1.3125rem ,0.8613721805rem + 2.2556390977vw ,3.1875rem)) {
    .categories__item {
      padding-bottom: clamp(1.3125rem ,.8613721805rem + 2.2556390977vw ,3.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(1.3125rem ,0.8613721805rem + 2.2556390977vw ,3.1875rem)) {
    .categories__item {
      padding-bottom: calc(1.3125rem + 1.875 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (row-gap:clamp(1.9375rem ,1.6367481203rem + 1.5037593985vw ,3.1875rem)) {
    .categories__item {
      row-gap: clamp(1.9375rem ,1.6367481203rem + 1.5037593985vw ,3.1875rem)
    }
  }
  @supports not (row-gap:clamp(1.9375rem ,1.6367481203rem + 1.5037593985vw ,3.1875rem)) {
    .categories__item {
      row-gap: calc(1.9375rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,0.5615601504rem + 1.8796992481vw ,2.5rem)) {
    .collections__item {
      padding-right: clamp(.9375rem ,.5615601504rem + 1.8796992481vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,0.5615601504rem + 1.8796992481vw ,2.5rem)) {
    .collections__item {
      padding-right: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem)) {
    .header__container {
      padding-top: clamp(1.25rem ,.9492481203rem + 1.5037593985vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem)) {
    .header__container {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem)) {
    .header__container {
      padding-bottom: clamp(1.25rem ,.9492481203rem + 1.5037593985vw ,2.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9492481203rem + 1.5037593985vw ,2.5rem)) {
    .header__container {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8289473684rem + 2.1052631579vw ,3rem)) {
    .footer__container {
      padding-top: clamp(1.25rem ,.8289473684rem + 2.1052631579vw ,3rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8289473684rem + 2.1052631579vw ,3rem)) {
    .footer__container {
      padding-top: calc(1.25rem + 1.75 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8289473684rem + 2.1052631579vw ,3rem)) {
    .footer__container {
      padding-bottom: clamp(1.25rem ,.8289473684rem + 2.1052631579vw ,3rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8289473684rem + 2.1052631579vw ,3rem)) {
    .footer__container {
      padding-bottom: calc(1.25rem + 1.75 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-top:clamp(2.375rem ,1.7434210526rem + 3.1578947368vw ,5rem)) {
    .head-footer__form {
      padding-top: clamp(2.375rem ,1.7434210526rem + 3.1578947368vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.375rem ,1.7434210526rem + 3.1578947368vw ,5rem)) {
    .head-footer__form {
      padding-top: calc(2.375rem + 2.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-bottom:clamp(2.375rem ,1.7434210526rem + 3.1578947368vw ,5rem)) {
    .head-footer__form {
      padding-bottom: clamp(2.375rem ,1.7434210526rem + 3.1578947368vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.375rem ,1.7434210526rem + 3.1578947368vw ,5rem)) {
    .head-footer__form {
      padding-bottom: calc(2.375rem + 2.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-left:clamp(1.375rem ,0.9840225564rem + 1.954887218vw ,3rem)) {
    .head-footer__form {
      padding-left: clamp(1.375rem ,.9840225564rem + 1.954887218vw ,3rem)
    }
  }
  @supports not (padding-left:clamp(1.375rem ,0.9840225564rem + 1.954887218vw ,3rem)) {
    .head-footer__form {
      padding-left: calc(1.375rem + 1.625 * (100vw - 20rem)/ 83.125)
    }
  }
  @supports (padding-right:clamp(1.375rem ,0.9840225564rem + 1.954887218vw ,3rem)) {
    .head-footer__form {
      padding-right: clamp(1.375rem ,.9840225564rem + 1.954887218vw ,3rem)
    }
  }
  @supports not (padding-right:clamp(1.375rem ,0.9840225564rem + 1.954887218vw ,3rem)) {
    .head-footer__form {
      padding-right: calc(1.375rem + 1.625 * (100vw - 20rem)/ 83.125)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #52ffe0
  }
  .categories__title:hover {
    color: #52ffe0
  }
  .body-footer__privacy a:hover {
    color: #52ffe0
  }
  .body-footer__social a:hover::before {
    color: #52ffe0
  }
}